@model FacultyInformationSystem_MVCCore.Publication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublicationId" class="control-label"></label>
                <input asp-for="PublicationId" class="form-control" />
                <span asp-validation-for="PublicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationTitle" class="control-label"></label>
                <input asp-for="PublicationTitle" class="form-control" />
                <span asp-validation-for="PublicationTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleName" class="control-label"></label>
                <input asp-for="ArticleName" class="form-control" />
                <span asp-validation-for="ArticleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label"></label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationLocation" class="control-label"></label>
                <input asp-for="PublicationLocation" class="form-control" />
                <span asp-validation-for="PublicationLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitationDate" class="control-label"></label>
                <input asp-for="CitationDate" class="form-control" />
                <span asp-validation-for="CitationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

