@model FacultyInformationSystem_MVCCore.WorkHistory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WorkHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.WorkHistoryId)
            @*<div class="form-group">
                    <label asp-for="WorkHistoryId" class="control-label"></label>
                    <input asp-for="WorkHistoryId" class="form-control" />
                    <span asp-validation-for="WorkHistoryId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <input asp-for="FacultyId" class="form-control" />
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                <input asp-for="Organization" class="form-control" />
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobBeginDate" class="control-label"></label>
                <input asp-for="JobBeginDate" class="form-control" />
                <span asp-validation-for="JobBeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobEndDate" class="control-label"></label>
                <input asp-for="JobEndDate" class="form-control" />
                <span asp-validation-for="JobEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobResponsibilities" class="control-label"></label>
                <input asp-for="JobResponsibilities" class="form-control" />
                <span asp-validation-for="JobResponsibilities" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <select asp-for="JobType" class="form-control">
                    <option selected value="Select Job Type">Select Job Type</option>
                    <option value="Full Time">Full Time</option>
                    <option value="Part Time">Part Time</option>
                    <option value="Freelancer">Freelancer</option>
                    <option value="Others">Others</option>
                </select>
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="JobType" class="control-label"></label>
                    <input asp-for="JobType" class="form-control" />
                    <span asp-validation-for="JobType" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
